.quadradovermelho
{ width: 100px;

   height: 100px;
 background-color: black;
margin: 10px;
}




.quadradoazul
{
width: 100px;
height: 100px;
background-color: blue;
margin: 10px;
}